* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );

}
.notes-page{
  max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}
.notes-page header{
  display: flex;
	align-items: center;
	justify-content: space-between;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.notes-page header ul li{
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}
.note-wrapper{
  display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}
.card{
  background-color: #fef68a;
	border-radius: 17px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
  position: relative;
}
.card:hover{
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card .close{
  position: absolute;
  top:2vh;
  right: 2vh;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
}
.card h4{
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .text-wrapper{
  width: 100%;
  height: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.6);
}
.card .date{
  text-align: right;
  color: rgb(0, 0, 0);
  margin-bottom: 1vh;
}
.card-footer{
  display: flex;
	align-items: center;
	justify-content: space-between;
}
/* ******* Create Note******************* */
.create-note{
  max-width: 500px;
  width: 100%;
  margin: auto;
  background-color: #fef68a;
  /* background-color: #a9edf1; */
  /* background-color: #9beee6; */
  border-radius: 4vh;
  padding: 30px;
  display: flex;
  flex-direction:column;
  
}
.create-note:hover{
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.create-note h2{
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-note .row{
  margin: 3vh 0vh;
}
.create-note .date input{
  width: 100%;
  height: 50px;
  padding:  0 5px;
  background:rgb(0,0,0,0.07);
  border: none;
  border-radius: 3px;
  border-bottom: 0.1vh solid black;
  font-size: 2vh;
  color: rgb(0,0,0,0.6);
}
.save-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px){
  .create-note{
    padding: 15px;
    border: 5px solid #ccc;
  }
}

/* *********Login / Register******* */
.login-page{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  flex-direction:column;
}
.login,
.register{
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login,
.register:hover{
  transition: 0.5s;
  
}
.login-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page span:hover{
  color: rgb(255, 0, 0);
  cursor: pointer;
}
